*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: black; */
}

a{
    display: block;
    text-decoration: none;
}


body{
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: black;
    height: 60px;
}

.navBar{
    position: relative;
    box-sizing: border-box;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.city-name{
    color: black;
}

.logo{
    text-decoration: none;
    color: white;
    font-size: 170%;
    font-weight: bold;
}

.search-form{
    border-radius: 5px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.search-form button{
    padding: .8% 1%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.search{
    background-color: white;
    padding: 1.5% 2%;
    min-width: 30vw;
    width: auto;
    border: none;
}

.search-button{
    /* min-width: 3vw; */
    background-color: white;
    width: 24px;
}

.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.navBar ul li a{
    box-sizing: border-box;
    padding: 8px 20px;
    margin: 0px 5px;
    border-radius: 5px;
    font-weight: 200;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 95%;
}

.navBar ul li a:hover{
    box-sizing: border-box;
    background-color: red;
    color: white;
    transition: 0.7s ease-in-out;
}

.sec1{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6)50%,rgba(0,0,0,0.6)50%),url(/images/taj-mahal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.font-chn{
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 60px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    top: 45%;
    text-shadow: 2px 2px 10px #000000;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}


.sec2{
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    height: 442.4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-container{
    box-sizing: border-box;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.dest-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
}

.scrollmenu{
    width: 80vw;
    /* background-color: black; */
    box-sizing: border-box;
    height: 370px;
    display: grid;
    /* display: inline; */
    grid-auto-flow: column;
    grid-auto-columns: 20%;
    flex-wrap: wrap;
    overscroll-behavior-inline: contain;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding: 20px 0px 0px 0px;
}

.scroll-item{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    position: relative;
    padding: 0px 0px 10px 0px;
}

.img-div{
    width: 225px;
}


.img-div img{
    border-radius: 5px;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    transform-origin: center;
}

.scroll-item:hover .img-div img{
    width: 220px;
    height: 320px;
    cursor: pointer;
}

.sec3{
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6)50%,rgba(0,0,0,0.6)50%),url(/images/travel-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 130%;
}

footer{
    background-color: black;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer-container2{
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    /* background-color: white; */
}

.serve-container ul li{
    /* color: white; */
    font-size: 90%;
    font-family: 'Poppins', sans-serif;
    padding: 5px 0px;
    list-style: none;
}

.serve-container ul h5{
    color: rgb(255, 0, 0);
    font-size: 120%;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}

.serve-container ul li a{
    text-decoration: none;
    color: white;
    transition: 0.2s ease-in-out;
}

.serve-container ul li a:hover{
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.logo-footer{
    text-decoration: none;
    color: white;
    font-size: 200%;
    font-weight: bold;
    /* background-color: white; */
}

.footer-container1{
    /* background-color: white; */
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social{
    width: 20vw;
    display: flex;
    justify-content: right;
}

.social img{
    padding: 4px;
}

@media only screen and (max-width: 1390px) {
    
    .scrollmenu{
        width: 80vw;
        /* background-color: black; */
        box-sizing: border-box;
        height: 370px;
        display: grid;
        grid-auto-flow: row;
        flex-wrap: wrap;
        overscroll-behavior-inline: contain;
        overflow-x: hidden;
        overflow-y: auto;
        justify-content: center;
        /* -ms-overflow-style: none; */
        scrollbar-width: none;
        scroll-behavior: smooth;
        /* white-space: nowrap; */
        padding: 20px 0px 0px 0px;
    }

    .sec-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .scroll-item{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .img-div{
        display: flex;
        justify-content: center;
    }

    .img-div img{
        width: 200px;
        height: 300px;
        /* transition: none; */
    }

    .img-div img:hover{
        /* width: 80vw;
        height: 400px; */
        /* width: 60vw;
        height: 300px; */
        cursor: pointer;
    }
}

.ham{
    display: none;
}

.list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* float: right; */
}

.change{
    /* float: right; */
    position: absolute;
    margin-top: 40px;
    margin-right: 40px;
    top: 50%;
    left: 80%;
    text-decoration: none;
    list-style: none;
    height: 20vh;
    width: 120px;
    border-radius: 10px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    flex-direction: column;
    background-color: red;
    /* align-items: center; */
    /* justify-content: space-around; */
}

@media only screen and (max-width: 800px) {
    .ham{
        display: block;
        width: 30px;
        cursor: pointer;
    }

    .list{
        display: none;
    }

    .navBar ul li{
        padding: 5%;
    }

    .navBar ul li a:hover{
        /* box-sizing: border-box; */
        background-color: black;
        color: white;
        transition: 0.7s ease-out; 
    }
}

@media only screen and (min-width: 801px) {
    .list{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* float: right; */
    }
}

@media only screen and (max-width: 500px) {
    .navBar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }
    
    header{
        height: 14vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-sizing: border-box;
    }

    .change{
        box-sizing: border-box;
        position: absolute;
        top: 14vh;
        left: 0%;
        right: 0%;
        width: 80vw;
        height: 30vh;
        margin: 0px;
    }

    .footer-container2{
        padding-top: 20px;
        /* width: 80vw; */
        /* display: flex; */
        flex-direction: column;
        /* align-items: center; */
        justify-content: space-around;
        /* background-color: white; */
    }

}

.active{
    background-color: rgb(128, 128, 128);
}